// Desktop

@media screen and (min-width: 64em) {

	.hide-br {
		display: block;
	}

	// Navigation

	.nav-bg {
		padding: 55px 0px 60px 0px;
		.kc-logo-holder {
			text-align: left;
			ul {

				li {
					display: inline-block;
					.kc-logo {
						background-image: url("../img/home/kc-logo-scroll.svg");
						background-repeat: no-repeat;
						height: 100px;
						width: 100px;
					}

					.kc-name {
						height: 50px;
						width: 224px;
						margin: 0px 0px 24px 17px;
					}
				}
			}
		}

		.nav-links-holder {
			text-align: right;
			ul {
				padding: 43px 0px 0px 0px;
				li {
					display: inline-block;
					padding: 0px 0px 0px 30px;
					a {
						font-size: 1.2em;
						@include nexa-light;
						text-transform: uppercase;
						color: $default;
					}
				}
			}

		}
	}


	// Navigation Case Study


	.nav-bg-cs {
		padding: 14px 0px 10px 0px;
		text-align: left;
		.kc-logo-holder {

			ul {

				li {
					display: block;
					.kc-logo {
						background-image: url("../img/home/kc-logo-scroll.svg");
						background-repeat: no-repeat;
						display: inline-block;
						height: 75px;
						width: 75px;
						margin: 0px;
					}
				}
			}
		}

		.nav-links-holder {
			text-align: right;
			ul {
				list-style: none;
				li {
					display: inline-block;
					padding: 27px 0px 0px 30px;
					a {
						font-size: 1.2em;
						@include nexa-light;
						text-transform: uppercase;
						color: $default;
					}
				}
			}

		}
	}


	// Home Page

	.home-section {
		height: 80vh;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3;
	}

	.home-label {
		text-align: left;
		@include vertical-align;
		ul {
			list-style: none;
			display: block;
			h1 {
				@include nexa-bold();
				font-size: 3.4em;
				text-transform: uppercase;
				line-height: 1em;
				color: #4F4F4F;
			}
			h2 {
				@include nexa-light();
				font-size: 1.4em;
				text-transform: uppercase;
				color: #4F4F4F;
				margin-bottom: 40px;
					span {
						padding: 0px 5px 0px 5px;
					}
			}
		}
	}


	.home-row {
		height: inherit;
	}

	.content {
		@include vertical-align;
	}

	.venture-bg {

		.row {

			.venture-laptop-home-bg {
				margin-bottom: 0px;
				text-align: right;
				.venture-laptop-home {
					max-width: 95%;
				}
			}
		}
	}

	.guitar-bg {

		.row {

			.guitar-ipad-bg {
				margin-bottom: 0px;
				text-align: left;
				.guitar-center-ipad-home {
					max-width: 90%;
				}
			}
		}
	}

	.gravity-bg {

		.row {

			.gravity-screen-bg {
				margin-bottom: 0px;
				text-align: right;
				.gravity-screen-home {
					max-width: 95%;
				}
			}
		}
	}

	.moad-bg {

		.row {

			.moad-cards-bg {
				margin-bottom: 0px;
				text-align: left;
				.moad-cards-home {
					max-width: 100%;
				}
			}
		}
	}

	.riverbed-bg {
		background: url(../img/home/riverbed-bg-2.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 4;
		.row {
			@include vertical-align;
			.riverbed-phone-holder {
				margin-bottom: 40px;
				text-align: center;
				.riverbed-home {
					max-width: 65%;
				}
			}
		}
	}

	// Case Study

	.about-description {
		padding: 70px 0px 70px 0px;
		text-align: center;
			h2 {

			}
			h3 {

			}
			p {

				padding-top: 15px;
			}
	}

	.description {

			h2 {

			}
			p {

				padding-top: 15px;
				padding-bottom: 15px;
			}
	}


	// Venture Case Study

	#venture-bg {
		background-position: bottom;
	}

	.venture-logo {
		@include vertical-align;
		height: auto;
		width: 40%;
	}

	.venture-search-bg {
		padding-bottom: 35%;
		margin-bottom: 8%;
			.venture-laptop {
				padding-top: 60px;
				max-width: 65%;
			}
	}

	.venture-browse-bg {
		padding-bottom: 38%;
			.venture-browse-screens {
				max-width: 71%;
			}

	}

	.venture-comment-bg {
		padding-bottom: 36%;
				.venture-comment-screen {
				max-width: 60.8%;
			}
	}

	.venture-mobile-bg {
		padding-bottom: 35%;
		margin-bottom: 7%;
			.venture-mobile {
				padding-top: 45px;
				max-width: 50%;
			}
	}

	// Guitar Center Case Study

	#guitar-center-bg {

		.guitar-center-logo {
			@include vertical-align;
			height: auto;
			max-width: 13%;
		}
	}

	.video-holder-bg {
		background-color: #1f2125;
		.video-holder {
			padding: 20px 0px 20px 0px;
			margin: 0 auto;
			width: 60%;
			.embed-holder{

			}
		}
	}

	iframe {
		width: 100%;
		height: auto;
	}

	.guitar-ipad-bg-cs {
		margin-bottom: 3%;
		padding-bottom: 32%;
			.guitar-ipad-cs {
				padding-top: 70px;
				max-width: 50%;
			}
	}

	.guitar-mobile-bg-cs {
		margin-bottom: 4%;
		padding-bottom: 28%;
			.guitar-mobile-cs {
				padding-top: 4em;
				max-width: 60%;
			}
	}

	.guitar-specs-bg {
		padding-bottom: 38%;
			.guitar-screens {
				max-width: 75%;
			}

	}

	.guitar-gps-bg {
		padding-bottom: 38%;
				.guitar-gps {
					max-height: 70%;
			}
	}

	.guitar-logo-bg {
		padding-bottom: 38%;
				.guitar-center-logo {
					max-height: 70%;
			}
	}

	// Gravity Case Study

	#gravity-bg-cs {

		.gravity-logo {
			@include vertical-align;
			height: auto;
			max-width: 32%;
		}
	}

	.gravity-screen-bg-cs {
		padding-bottom: 25%;
			.gravity-team {

				video {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}

			}

	}

	.gravity-timeline-bg {
		padding-bottom: 38%;

			.gravity-timeline {

				video {
					position: absolute;
					padding: 20px 0px 20px 0px;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}

			}

	}

	.gravity-writing-bg {
		padding-bottom: 38%;

			.gravity-writing {

				video {
					position: absolute;
					padding: 20px 0px 20px 0px;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}

			}

	}

	.gravity-pages-bg {
		padding-bottom: 27%;

			.gravity-pages {

				video {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}

			}

	}

	.gravity-review-bg {
		padding-bottom: 38%;

			.gravity-review {

				video {
					position: absolute;
					padding: 20px 0px 20px 0px;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}

			}

	}

	.gravity-download-bg {
		padding-bottom: 38%;

			.gravity-download {

				video {
					position: absolute;
					padding: 20px 0px 20px 0px;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
				}

			}

	}

	// MOAD Case Study

	#moad-bg-cs {
		background-position: bottom;
		.moad-logo {
			max-width: 40%;
			margin-top: -3%;
		}
	}

	.moad-cards-case-bg {
		padding-bottom: 36%;
			.moad-app {
			max-width: 65%;
		}

	}

	.moad-poster-bg {
		margin-bottom: 6.5%;
		padding-bottom: 35%;
				.moad-poster {
				padding-top: 20px;
				max-width: 40%;
			}
	}

	.moad-app-bg {
		padding-bottom: 36%;
	}

	.moad-building-bg {
		background-position: middle;
		padding-bottom: 35%;
	}

	// Riverbed Case Study

	#riverbed-bg {

		.riverbed-logo {
			@include vertical-align;
			height: auto;
			max-width: 30%;
		}
	}

	.riverbed-icons-bg {
		background: url(../img/riverbed/riverbed-server-bg.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: bottom;
		background-color: #ECEFF1;
		height: 69vh;
		position: relative;
		text-align: center;
		margin-bottom: 2%;
				.riverbed-icons {
				padding-top: 7.1em;
				position: absolute;
				max-width: 60%;
				@include vertical-align;

			}
	}

	.sko-mobile-bg-cs {
		background: url(../img/riverbed/riverbed-sko-bg.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
		background-color: #ECEFF1;
		margin-bottom: 4%;
		padding-bottom: 34%;
		position: relative;
			.sko-mobile-cs {
				position: absolute;
				padding-top: 3.5em;
				max-width: 45%;
				height: auto;
			    right: 0;
			    left: 0;
			    margin: auto;
			}
	}



	// Contact

	.contact-bg {
		padding: 5% 0px 5% 0px;

	}

}
